<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>Vue Event</h1>
        <h3>Mouse Events</h3>
        <button @click="showAlert">Show Alert</button>&nbsp;
        <button @dblclick="showAlert">Double Click</button>&nbsp;
        <button @mousedown="showAlert">Mouse Down</button>&nbsp;
        <button @mouseup="showAlert">Mouse Up</button>&nbsp;
        <button @mousemove.once="showAlert">Mouse Move</button>&nbsp;
        <button @mouseenter="showAlert">Mouse Enter</button>&nbsp;
        <button @mouseleave.once="showAlert">Mouse Leave</button>

        <table width="50%" border="1" style="margin-top:20px">
            <tr @click="tableRow">
                <td>1</td>
                <td>Zainal</td>
                <td>12</td>
                <td><button @click.stop="showAlert">Show Alert</button></td>
            </tr>
        </table>

        <h3>Keyboard Events</h3>
        <input type="text" @keyup.enter.ctrl="showAlert" placeholder="Key Up">&nbsp;

        <h4>Input</h4>
        <input type="number" @input="calcValue" placeholder="Number 1" v-model.number="num1">

        &nbsp; + &nbsp;

        <input type="number" @input="calcValue" placeholder="Number 2" v-model.number="num2">&nbsp; = &nbsp;

        <input type="text" disabled placeholder="Result" v-model="num3">


        <input type="text" id="valueDirective" placeholder="Result"
        v-model="name"
        >

        {{name}}

    </div>
    <script>
        const { createApp, ref, reactive } = Vue;

        let name = ref("Zainal");
        createApp({
            setup() {

                function showAlert() {
                    alert('Button Clicked');
                }

                function tableRow() {
                    alert('Table row Clicked');
                }

                const num1 = ref(0);
                const num2 = ref(0);
                const num3 = ref(0);

                function calcValue(event) {  
                    num3.value = num1.value + num2.value;
                }


                return {
                    showAlert,
                    tableRow,
                    num1,
                    num2,
                    num3,
                    calcValue, 
                    name
                }
            }
        }).mount('#app');

    </script>
</body>

</html>